footer {
    background-color: #343A40;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}
