<div class="container">
    <div id="texto">
        <h1>Olá, me chamo Juan!</h1>
        <p>
            Tenho 23 anos e sou estudante do último semestre de <strong>Análise e Desenvolvimento de Sistemas (ADS)</strong> na Fatec Americana.
        </p>
        <p>
            Possuo experiência em projetos pessoais voltados para as disciplinas de 
            <strong>Engenharia de Software, Banco de Dados, Desenvolvimento Backend e Frontend.</strong>
        </p>
        <p>
            Meu objetivo é ingressar no mercado de <strong>Ciência da Computação</strong>, com interesse nas áreas de 
            <strong>Engenharia de Software, Desenvolvimento e Infraestrutura.</strong>
        </p>
    </div>

    <div id="imagemhome">
        <img src="/foto.jpg" alt="Foto de Juan">
    </div>
</div>
